
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/css/style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <div id="filter-box">
        <select id="genderDropdown"></select>
        <select id="geographyDropdown"></select>
        <select id="churnDropdown"></select>
        <button onclick="updateData()">Update Charts</button>
    </div>
    <div id="charts-container">
        <div id="pie-chart">
            <div id="gender-chart"></div>
        </div>
        <div id="bar-chart">
            <div id="gender-chart2"></div>
        </div>
        <div id="map" style="height: 400px;"></div>
        <div id="box-plot">
            <div id="gender-chart3"></div>
        </div>
    </div>

    <script src="static/js/script.js"></script>
</body>
</html>
